# Auto detect text files and perform LF normalization
* text=auto
*.blend filter=lfs diff=lfs merge=lfs -text
metro.blend filter=lfs diff=lfs merge=lfs -text
metro.blend1 filter=lfs diff=lfs merge=lfs -text
